.container {
  padding: 0.5rem 1.2rem;
}

.image img {
  padding: 0;
  margin: 0;
}

.is-divider {
  display: block;
  position: relative;
  border-top: .1rem solid
  #dbdbdb;
  height: .1rem;
  margin: 1.0rem 0;
  text-align: center;
}

.mb-s {
  margin-bottom: 0.7rem;
}
